NEXT_PUBLIC_SUPABASE_URL=https://mhhlyogimusannepohdz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1oaGx5b2dpbXVzYW5uZXBvaGR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMDE5MzksImV4cCI6MjA5ODU3NzkzOX0.neADmC08rqmZy8xOR_mS3KReYMoIE5_zhiPmHlTSgj0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1oaGx5b2dpbXVzYW5uZXBvaGR6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzAwMTkzOSwiZXhwIjoyMDk4NTc3OTM5fQ.CIVoA1XXuw0AwtOvm1nWRasSDgL2VsJyoUdlj5RCJT8
NEXT_PUBLIC_WHATSAPP_NUMBER=923183583597
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ADMIN_PASSWORD=Floral110
ADMIN_SESSION_SECRET=floral-intense-secret-2026-987654
